<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ChatNetTcp">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint
        name="ChatTcp"
        address="net.tcp://localhost:8002/ChatService"
        binding="netTcpBinding"
        bindingConfiguration="ChatNetTcp"
        contract="ChatLibrary.IChatService" />
    </client>
  </system.serviceModel>
</configuration>
